<footer>
    <h4>For more details,visit our websites</h4>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <div class="wrapper">
     <div class="dot">
        <div class="icon">
          <i class="fab fa-facebook-f"></i>
        </div>
        <span><a href="http://www.facebook.com/acmvvit.1/" style="text-decoration:none; color: #4267B2">Facebook</a></span>
     </div>
     <div class="dot">
        <div class="icon">
           <i class="fab fa-twitter"></i>
        </div>
        <span><a href="http://twitter.com/AcmVvit?s=08/" style="text-decoration:none; color:#1da1f2;">Twitter</a></span>
     </div>
     <div class="dot">
        <div class="icon">
           <i class="fab fa-instagram"></i>
        </div>
        <span><a href="http://www.instagram.com/acm_vvit/" style="text-decoration:none; color: #E1306C;">Instagram</a></span>
     </div>
     
  </div>
</footer>