<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/login.css">
  <title>Login Page</title>
</head>
<body>
  <div class="login-container">
    <h2>Login</h2>
    <% if (message && status) { %>
      <p class="message" style="color:green;font-size:20px;"><%= message %></p>
      <script>
          // If signup is successful (status is true), redirect to '/home' after 2 seconds
          setTimeout(() => {
              window.location.href = '/home';
          }, 2000);
      </script>
  <% } else if (message) { %>
      <!-- Handle the case where status is not true, but there is a message -->
      <p class="message" style="color:red;font-size:20px;"><%= message %></p>
  <% } %>
    <form action="/login" method="post">
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="/signup">Sign Up</a></p>
    <p>forgot password? <a href="/forgotpassword">click here </a></p>
  </div>
</body>
</html>